{% extends 'accounts/main.html' %}

{% block content %}
<br>

<div class="row">
    <!--Uno-->
    <div class="col-md">
        <div class="card card-body">
            <h5 class="card-title">Customer</h5>
            <hr>
            <a class="btn my-2 btn-outline-info btn-sm btn-block" href="#">Update Customer</a>
            <a class="btn btn-outline-danger btn-sm btn-block" href="">Delete Customer</a>
        </div>

    </div>
    <!--Dos-->
    <div class="col-md">
        <div class="card card-body">
            <h5 class="card-title">Contact Information</h5>
            <hr>
            <p class="font-weight-light"><b>Email: </b>{{customers.email}}</p>
            <p class="font-weight-light"><b>Phone: </b>{{customers.phone}}</p>
        </div>
    </div>
    <!--Tres-->
    <div class="col-md">
        <div class="card card-body">
            <h5 class="card-title">Total Orders</h5>
            <hr>
            <h1 class="text-center py-2">{{total_orders}}</h1>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <form action="" method="GET">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Category</th>
                        <th scope="col">Date Orderd</th>
                        <th scope="col">Status</th>
                        <th scope="col">Update</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>
                {% for order in order %}
                <tr>
                    <td>{{order.product.name}}</td>
                    <td>{{order.product.name}}</td>
                    <td>{{order.date_created}}</td>
                    <td>{{order.status}}</td>
                    <td><a class="btn btn-outline-primary btn-sm" href="{% url 'accounts:order_updated' order.id%}">Update</a></td>
                    <td><a class="btn btn-outline-danger btn-sm" href="{% url 'accounts:order_delete' order.id %}">Remove</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}