{% extends 'accounts/main.html' %}

{% block content %}
<br>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5 class="card-title">Products</h5>
            </div>
            <div class="card-body">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Category</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{product.name}}</td>
                                <td>{{product.category}}</td>
                                <td>{{product.price}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}